*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/.idea/.name
/app/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/app/.idea/deploymentTargetDropDown.xml
/app/.idea/gradle.xml
/app/gradle/wrapper/gradle-wrapper.jar
/app/gradle/wrapper/gradle-wrapper.properties
/app/.idea/libraries/Gradle__androidx_activity_activity_1_2_4_aar.xml
/app/.idea/libraries/Gradle__androidx_activity_activity_ktx_1_1_0_aar.xml
/app/.idea/libraries/Gradle__androidx_annotation_annotation_1_3_0.xml
/app/.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_1_0_aar.xml
/app/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_4_1_aar.xml
/app/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_4_1_aar.xml
/app/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
/app/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
/app/.idea/libraries/Gradle__androidx_arch_core_core_testing_2_1_0_aar.xml
/app/.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
/app/.idea/libraries/Gradle__androidx_collection_collection_ktx_1_1_0.xml
/app/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_1_3_aar.xml
/app/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
/app/.idea/libraries/Gradle__androidx_core_core_1_7_0_aar.xml
/app/.idea/libraries/Gradle__androidx_core_core_ktx_1_7_0_aar.xml
/app/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
/app/.idea/libraries/Gradle__androidx_databinding_viewbinding_4_2_1_aar.xml
/app/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_1_aar.xml
/app/.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_fragment_fragment_1_3_6_aar.xml
/app/.idea/libraries/Gradle__androidx_fragment_fragment_ktx_1_2_4_aar.xml
/app/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_4_0.xml
/app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_1_aar.xml
/app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_ktx_2_2_0_aar.xml
/app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_3_1_aar.xml
/app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_4_0_aar.xml
/app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_ktx_2_2_0_aar.xml
/app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_1_aar.xml
/app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_2_0_aar.xml
/app/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_1_aar.xml
/app/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_navigation_navigation_common_2_3_5_aar.xml
/app/.idea/libraries/Gradle__androidx_navigation_navigation_common_ktx_2_3_5_aar.xml
/app/.idea/libraries/Gradle__androidx_navigation_navigation_fragment_2_3_5_aar.xml
/app/.idea/libraries/Gradle__androidx_navigation_navigation_fragment_ktx_2_3_5_aar.xml
/app/.idea/libraries/Gradle__androidx_navigation_navigation_runtime_2_3_5_aar.xml
/app/.idea/libraries/Gradle__androidx_navigation_navigation_runtime_ktx_2_3_5_aar.xml
/app/.idea/libraries/Gradle__androidx_navigation_navigation_ui_2_3_5_aar.xml
/app/.idea/libraries/Gradle__androidx_navigation_navigation_ui_ktx_2_3_5_aar.xml
/app/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
/app/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_aar.xml
/app/.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_test_core_1_4_0_aar.xml
/app/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_4_0_aar.xml
/app/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_4_0_aar.xml
/app/.idea/libraries/Gradle__androidx_test_ext_junit_1_1_3_aar.xml
/app/.idea/libraries/Gradle__androidx_test_monitor_1_4_0_aar.xml
/app/.idea/libraries/Gradle__androidx_test_runner_1_4_0_aar.xml
/app/.idea/libraries/Gradle__androidx_test_services_storage_1_4_0_aar.xml
/app/.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
/app/.idea/libraries/Gradle__androidx_transition_transition_1_3_0_aar.xml
/app/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
/app/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
/app/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
/app/.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
/app/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
/app/.idea/libraries/Gradle__com_android_support_exifinterface_27_1_0_aar.xml
/app/.idea/libraries/Gradle__com_android_support_support_annotations_27_1_0.xml
/app/.idea/libraries/Gradle__com_google_android_material_material_1_5_0_aar.xml
/app/.idea/libraries/Gradle__com_google_auto_value_auto_value_annotations_1_7_4.xml
/app/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_1.xml
/app/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_2.xml
/app/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_8.xml
/app/.idea/libraries/Gradle__com_google_dagger_dagger_2_38.xml
/app/.idea/libraries/Gradle__com_google_dagger_dagger_lint_aar_2_38_aar.xml
/app/.idea/libraries/Gradle__com_google_dagger_hilt_android_2_38_aar.xml
/app/.idea/libraries/Gradle__com_google_dagger_hilt_core_2_38.xml
/app/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_4_0.xml
/app/.idea/libraries/Gradle__com_google_guava_failureaccess_1_0_1.xml
/app/.idea/libraries/Gradle__com_google_guava_guava_30_0_android.xml
/app/.idea/libraries/Gradle__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/app/.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_3.xml
/app/.idea/libraries/Gradle__com_google_truth_truth_1_1.xml
/app/.idea/libraries/Gradle__com_jakewharton_timber_timber_4_7_1_aar.xml
/app/.idea/libraries/Gradle__com_nhaarman_mockitokotlin2_mockito_kotlin_2_2_0.xml
/app/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1.xml
/app/.idea/libraries/Gradle__com_squareup_okhttp3_logging_interceptor_4_9_0.xml
/app/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_4_9_0.xml
/app/.idea/libraries/Gradle__com_squareup_okio_okio_2_8_0.xml
/app/.idea/libraries/Gradle__com_squareup_picasso_picasso_2_71828_aar.xml
/app/.idea/libraries/Gradle__com_squareup_retrofit2_converter_gson_2_9_0.xml
/app/.idea/libraries/Gradle__com_squareup_retrofit2_converter_scalars_2_9_0.xml
/app/.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_9_0.xml
/app/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
/app/.idea/libraries/Gradle__junit_junit_4_12.xml
/app/.idea/libraries/Gradle__junit_junit_4_13_2.xml
/app/.idea/libraries/Gradle__net_bytebuddy_byte_buddy_1_11_3.xml
/app/.idea/libraries/Gradle__net_bytebuddy_byte_buddy_agent_1_11_3.xml
/app/.idea/libraries/Gradle__org_checkerframework_checker_compat_qual_2_5_5.xml
/app/.idea/libraries/Gradle__org_checkerframework_checker_qual_3_7_0.xml
/app/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/app/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3.xml
/app/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
/app/.idea/libraries/Gradle__org_jetbrains_annotations_16_0_1.xml
/app/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_6_10.xml
/app/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_parcelize_runtime_1_6_10.xml
/app/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_6_10.xml
/app/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_6_10.xml
/app/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_6_10.xml
/app/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_6_10.xml
/app/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_3_0.xml
/app/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_1_3_0.xml
/app/.idea/libraries/Gradle__org_mockito_mockito_core_3_11_2.xml
/app/.idea/libraries/Gradle__org_mockito_mockito_inline_3_11_2.xml
/app/.idea/libraries/Gradle__org_objenesis_objenesis_3_2.xml
/app/.idea/libraries/Gradle__org_ow2_asm_asm_9_0.xml
/app/gradlew
/app/gradlew.bat
/app/.idea/misc.xml
/app/.idea/modules.xml
/app/.idea/vcs.xml
/app/.idea/.gitignore
